Source: syslinux-themes-budgie-remix
Section: misc
Priority: optional
Maintainer: SpotTech <spottechmail@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7

Package: syslinux-themes-budgie-remix-xenial
Architecture: all
Description: collection of boot loaders (theme metapackage)
 SYSLINUX is a collection of boot loaders which operates off Linux ext2/3/4 or
 btrfs filesystems, MS-DOS FAT filesystems, network servers using PXE firmware,
 or from CD-ROMs.
 .
 This package depends on the package with the graphical bootloader theme
 for the matching budgie-remix release.
